 
body {
    font-family: fantasy;
    background-color:rgba(150, 32, 66, 0.84);
    margin-top: 25px;

}
.center {
    text-align: center;
}

.text-big {
    font: italic 30px monospace;
}

.bold {
    font-weight:lighter;
}

.img-medium {
    height: 150px;
}
.fram
    {
    	margin:0px 6px;
        border:6.4px solid rgba(216, 84, 23, 0.43);
    }
    .button
    {
    	margin-top:20px;
    	font-family:serif;
    	 cursor:auto;    }
    .header
    {
    border:1.85px dotted rgba(116, 199, 20, 0.66);
    }
    .cell
    {
    	border:1px solid black; text-align: center;
    	color:rgba(128, 20, 0, 0.8);
    }
    .follow{
        font: italic 20px cursive;
    }
    .background1{
        background-image:url(http://biboswan.imad.hasura-app.io/ui/p1);

    }
    .background2{
        background-image:url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcToUShLwC9hf4dFNzfM076_UoUFWaa7tIyFnaN5QuHezEhcks5H);
        

    }
   
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img
  {
   
      width: 70%;
      margin: auto;
      }
    
   
        

    

