 
body {
    font-family: fantasy;
     background: linear-gradient(to bottom right,rgba(58, 110, 177,0), blue);
    margin-top: 25px;

}
.center {
    text-align: center;
}

.text-big {
    font: italic 30px monospace;
}

.bold {
    font-weight:lighter;
}

.img-medium {
    height: 150px;
}
.fram
    {
    	margin:0px 6px;
        border:6.4px solid rgba(216, 84, 23, 0.43);
    }
    .button
    {
    	margin-top:20px;
    	font-family:serif;
    	 cursor:auto;    }
    .header
    {
    border:1.85px dotted rgba(116, 199, 20, 0.66);
    }
    .cell
    {
    	border:1px solid black; text-align: center;
    	color:rgba(128, 20, 0, 0.8);
    }
    .follow{
        font: italic 20px cursive;
    }
    .background1{
        background:url(http://biboswan.imad.hasura-app.io/ui/p1) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
           background-size: cover;
}

    
   
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img
  {
   
      width:56%;
      height:60%;
     margin: auto;
      }
    
   .footerbg {
      background-color:rgba(223, 240, 216, 0.75);
   }
        

    

